body{
    margin: 0;
}
header {
    width: 100%;
    background-color: #fff424;
    position: fixed;
    top: 0;
    z-index: 1;
    border: 3px black solid;
}
header .logo-left, header .logo-right{
    display: inline-block;
}
header .logo-left img, header .logo-right img{
    width: 200px;
    height: 100px;
}
header .logo-right{
    float: right;
}
header nav{
    display: inline-block;
    text-align: center;
    border: 1px solid black;
    width: 60%;
    padding: 0 40px 0 0;
    margin: auto;
}
nav .menu{
    text-decoration: none;
    list-style-type: none;

}
nav .menu > li {
    text-align: center;
    /*padding: 5px;*/
    display: inline-block;
}
nav .menu li > a{
    border-radius: 8%;
    text-decoration: none;
    font-size: 30px;
    background-color: black;
    color: #fff424;
    font-family: sans-serif;
    display: inline-block;
    width: 200px;
    transition: .3s linear;
}
nav .menu li a:hover {
    color: black;
    background-color: #fff424;
    border: 1px solid black;
    transition: .3s ease-out;
}
nav .menu > li:nth-of-type(2n) {
    position: relative;
}
nav .submenu {
    display: block;
    position: absolute;
    padding-left: 0;
    list-style-type: none;
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
}
nav ul li:hover .submenu {
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
}
