body{
    margin: 0;
}
header {
    width: 100%;
    background-color: #fff424;
    position: fixed;
    top: 0;
    z-index: 1;
    border: 3px black solid;
}
header .logo-left, header .logo-right{
    display: inline-block;
}
header .logo-left img, header .logo-right img{
    width: 200px;
    height: 100px;
}
header .logo-right{
    float: right;
}
header nav{
    display: inline-block;
    vertical-align: top;
    text-align: center;
    border: 1px solid black;
    width: 100%;
    margin:  auto;
}
nav .menu{
    text-decoration: none;
    list-style-type: none;

}
nav .menu > li {
    display: inline-block;
}
nav .menu li > a{
    border-radius: 8%;
    text-decoration: none;
    font-size: 30px;
    background-color: black;
    color: #fff424;
    font-family: sans-serif;
    display: inline-block;
    width: 200px;
}
nav .menu li a:hover {
    color: black;
    background-color: #fff424;
    border: 1px solid black;
    transition: .3s ease-out;
}
nav .menu > li:nth-of-type(2n) {
    position: relative;
}

