body{
    margin: 0;
}
header {
    width: 100%;
    background-color: #fff424;
    position: fixed;
    top: 0;
    z-index: 1;
    border: 3px black solid;
}
header .logo{
    display: inline-block;
    width: 50%;

}
header .logo img{
    width: 200px;
    height: 100px;
}
header .logo img:nth-child(even){
    position: fixed;
    right: 0;
}
header nav{
    display: inline-block;
    padding:0;
    position: absolute;
    text-align: center;
    top: 13%;
    left: 35%;
    border: 1px solid black;
    padding-right: 40px;
}
nav .menu{
    display: inline-block;
    text-decoration: none;
    list-style-type: none;
}
nav .menu > li {
    display: inline-block;
    text-align: center;
    padding: 5px;
}
nav .menu li > a{
    border-radius: 5%;
    text-decoration: none;
    font-size: 30px;
    background-color: black;
    color: #fff424;
    font-family: sans-serif;
    padding: 3px;
}
nav .menu li a:hover {
    color: black;
    background-color: #fff424;
    border: 1px solid black;
    transition: .3s ease-out;
}
nav .menu > li:nth-of-type(2n) {
    position: relative;
}
nav .submenu{
    display: block;
    position: absolute;
    list-style-type: none;
    transition: 0.3s ease-out;
}
nav .submenu li{
    margin: 5%;
}
