.text-typing
{
    width: 40em;
    color:green;
    font-size: 22px;
    font-family: 'Marck Script', cursive;
    white-space:nowrap;
    overflow:hidden;
    text-align: left;
    -webkit-animation: type 2s steps(100, end);
    animation: type 2s steps(100, end);
}
@keyframes type{
0% { width: 0; }
}

@-webkit-keyframes type{
0% { width: 0; }
}